# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
out/

# OpenNext
.open-next/
open-next.config.ts

# Wrangler
.wrangler/
wrangler.jsonc

# Env files
.env
.env.local
.dev.vars

# OS files
.DS_Store
Thumbs.db
